<h2 class="text-3xl font-bold mb-6">Create Project</h2>

<form class="space-y-6">

    <div>
        <label>Project Name</label>
        <input type="text" class="w-full p-3 bg-gray-800 rounded" />
    </div>

    <div>
        <label>Technology</label>
        <select class="w-full p-3 bg-gray-800 rounded">
            <option>.NET</option>
            <option>Android</option>
            <option>Node</option>
        </select>
    </div>

    <div>
        <label>Description</label>
        <textarea class="w-full p-3 bg-gray-800 rounded"></textarea>
    </div>

    <button class="bg-blue-600 px-6 py-3 rounded">
        Create Project
    </button>

</form>